<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :surname %><br/>
  <%= f.text_field :surname %>
</div>

<div class="field">
<%= f.label :birthday %> <br/>
<%= f.date_select(:birthday, :default => Time.now - 18.years ,:start_year => Time.now.year - 150, :end_year => Time.now.year)%>
</div>

<div class="field">
  <%= f.radio_button(:gender, false) %>
  <%= f.label(:gender, "Woman") %>
  <%= f.radio_button(:gender, true) %>
  <%= f.label(:gender, "Man") %>
</div>

<div class="field">
  <%= f.label :address %><br/>
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :city %><br/>
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :postalcode, 'Postal Code' %><br/>
  <%= f.text_field :postalcode %>
</div>

<div class="field">
  <%= f.label :email %> <br />
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :password%> <br />
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation, "Password Confirmation" %><br/>
  <%= f.password_field :password_confirmation %>
</div>

