<table>
  <tr>
    <th><%= "city_from" %></th>
    <th><%= "city_to" %></th>
    <th><%= "date_of_trip" %></th>
    <th><%= "end_of_trip" %></th>
    <th><%= "bus_id" %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.city_from %></td>
    <td><%= ticket.city_to %></td>
    <td><%= ticket.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
    <td><%= ticket.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
    <% if ticket.bus_id != nil %>
    <td><%= link_to Bus.find(ticket.bus_id).name_of_bus, bus_path(Bus.find(ticket.bus_id))  %></td>
    <td><%= ticket.name_of_seat %></td>
    <% end %>
    <% if current_user.admin? %>
      <td><%= link_to 'Show', ticket %></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      <td><%= button_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    <% if ticket.user_reserved_id == 0 %>
    <td><%= button_to 'Reserve', reserve_ticket_path(ticket), :confirm => "Are you sure, u want to reserve this ticket?", :method => :put%></td>
    <% else %>
    <td><%= button_to 'Unreserve', unreserve_ticket_path(ticket), :confirm => "Are you sure, u want to unreserve this ticket?", :method => :put%></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Back', root_path %>

