<%= will_paginate %>
<table id="Index of tickets">
  <tr>
    <th><%= sortable "city_from" %></th>
    <th><%= sortable "city_to" %></th>
    <th><%= sortable "date_of_trip" %></th>
    <th><%= sortable "end_of_trip" %></th>
    <th><%= sortable "bus_id" %></th>
    <th>Seat number</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%
  tripTickets = Array.new #array of free seats
%>
<% @tickets.each_cons(2) do |ticket,ticket2| %>
  <% if ticket.trip != ticket2.trip %>
  <%= render :partial => 'index_row', :locals => {:ticket => ticket, :tripTickets => tripTickets} %>
    <%
      tripTickets.clear #When all tickets from same trip have been found we clear array of seats
    %>
  <% end %>
  <%
    if ticket.trip != ticket2.trip && ticket2 == @tickets[@tickets.count-1]
    tripTickets.push(ticket2.name_of_seat.to_i)
  %>
  <%= render :partial => 'index_row', :locals => {:ticket => ticket2, :tripTickets => tripTickets} %>
  <% end %>
  <% if ticket == @tickets[0] %>
    <% tripTickets.push(ticket.name_of_seat.to_i) %>
  <% end %>
  <% tripTickets.push(ticket2.name_of_seat.to_i) %>
  <% trip = ticket2.trip %>
<% end %>
</table>
<br />

