<%= will_paginate %>
<table>
  <tr>
    <th><%= sortable "city_from" %></th>
    <th><%= sortable "city_to" %></th>
    <th><%= sortable "date_of_trip" %></th>
    <th><%= sortable "end_of_trip" %></th>
    <th><%= sortable "bus_id" %></th>
    <th>Seat number</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% tripTickets = Array.new %> <!-- array of free seats -->
<% @tickets.each_cons(2) do |ticket,ticket2| %>
  <% if ticket.trip != ticket2.trip %>
    <tr>
      <td><%= ticket.city_from %></td>
      <td><%= ticket.city_to %></td>
      <td><%= ticket.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <td><%= ticket.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <% if ticket.bus_id != nil %>
      <td><%= link_to Bus.find(ticket.bus_id).name_of_bus, bus_path(Bus.find(ticket.bus_id))  %></td>
      <td><%= form_tag url_for(:controller => 'tickets', :action => 'reserve'), :method => 'get' do %>
        <%= select_tag("SeatNumber", options_for_select(tripTickets.collect{ |u| [u] })) %>
        <%= hidden_field_tag "TripID", ticket.trip %></td>
      <td><%= submit_tag "Reserve", :action => 'reserve', :controller => 'tickets'%></td>
        <% end %>
      <% end %>
    </tr>
    <% tripTickets.clear %> <!-- When all tickets from same trip have been found we clear array of seats -->
  <% end %>
  <%
  if ticket.trip != ticket2.trip && ticket2 == @tickets[@tickets.count-1]
  tripTickets.push(ticket2.name_of_seat.to_i)
  %>
    <tr>
      <td><%= ticket2.city_from %></td>
      <td><%= ticket2.city_to %></td>
      <td><%= ticket2.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <td><%= ticket2.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <% if ticket2.bus_id != nil %>
      <td><%= link_to Bus.find(ticket2.bus_id).name_of_bus, bus_path(Bus.find(ticket2.bus_id))  %></td>
      <td><%= form_tag url_for(:controller => 'tickets', :action => 'reserve'), :method => 'get' do %>
        <%= select_tag("SeatNumber", options_for_select(tripTickets.collect{ |u| [u] })) %>
        <%= hidden_field_tag "TripID", ticket2.trip %></td>
      <td><%= submit_tag "Reserve", :action => 'reserve', :controller => 'tickets'%></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <% if ticket == @tickets[0] %>
    <% tripTickets.push(ticket.name_of_seat.to_i) %>
  <% end %>
  <% tripTickets.push(ticket2.name_of_seat.to_i) %>
  <% trip = ticket2.trip %>
<% end %>
</table>
<br />

