<table>
  <tr>
    <th><%= link_to "From", :sort => "from" %></th>
    <th><%= link_to "To", :sort => "to" %></th>
    <th><%= link_to "Date of Trip", :sort =>"dateOfTrip" %></th>
    <th><%= link_to "End of Trip", :sort => "endOfTrip" %></th>
    <th><%= link_to "Bus", :sort => "bus_id" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.from %></td>
    <td><%= ticket.to %></td>
    <td><%= ticket.dateOfTrip.strftime("%A %d-%m-%Y %H:%M") %></td>
    <td><%= ticket.endOfTrip.strftime("%A %d-%m-%Y %H:%M") %></td>
    <% if ticket.bus_id != nil %>
    <td><%= link_to Bus.find(ticket.bus_id).nameOfBus, bus_path(Bus.find(ticket.bus_id))  %></td>
    <% end %>
    <% if current_user.admin? %>
      <td><%= link_to 'Show', ticket %></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      <td><%= button_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <% if ticket.user_reserved_id == 0 %>
      <td><%= button_to 'Reserve', reserve_ticket_path(ticket), :confirm => "Are you sure, u want to reserve this ticket?", :method => :put%></td>
      <% else %>
      <td><%= button_to 'Unreserve', unreserve_ticket_path(ticket), :confirm => "Are you sure, u want to unreserve this ticket?", :method => :put%></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

