<tr>
      <td><%= ticket.city_from %></td>
      <td><%= ticket.city_to %></td>
      <td><%= ticket.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <td><%= ticket.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <% if ticket.bus_id != nil %>
      <td><%= link_to Bus.find(ticket.bus_id).name_of_bus, bus_path(Bus.find(ticket.bus_id))  %></td>
      <% end %>
      <td><%= content_tag "div", id: "Seat", data:{seats: (seats-tripTickets),tripid:(ticket.trip)} do %> <!-- tag to hold seats that are already reserved -->
      <% end %></td>
      <% logger.debug(tripTickets)%>
      <td><div id="holder">
          <ul  id="place" class="place"> <!-- Place to put seats for reservation -->
          </ul>
      </div>
      <div style="float:left;">
      <ul id="seatDescription">
          <li style="background:url('/images/available_seat_img.gif') no-repeat scroll 0 0 transparent;">Available Seat</li>
          <li style="background:url('/images/reserved_seat_img.gif') no-repeat scroll 0 0 transparent;">Reserved Seat</li>
          <li style="background:url('/images/selected_seat_img.gif') no-repeat scroll 0 0 transparent;">Selected Seat</li>
      </ul>
      </div>
</tr>

