<h1>Listing all available tickets</h1>
<% form_tag tickets_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= text_field_tag :search2, params[:search2] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<%= form_tag(@bus, :method => 'get') do %>
  <div class="field">
    Select city from trip begins:<br />
    <%= collection_select :ticket, :cityFrom, Ticket.find(:all, :select => "DISTINCT cityFrom", :order => "cityFrom"),:cityFrom,:cityFrom %>
  </div>
  <div class="field">
    Select city in which trip ends:<br />
    <%= collection_select :ticket, :cityTo, Ticket.find(:all, :select => "DISTINCT cityTo", :order => "cityTo"),:cityTo,:cityTo %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>
<%= render 'index' %>
<table>
  <th><% if current_user.admin? %>
    <%= link_to 'New Ticket', new_ticket_path %>
  <% end %></th>
  <th><%= link_to 'Back', root_path %></th>
</table>

