<h1>Listing all available tickets</h1>
<%= form_tag(tickets_path, :method => 'get') do %>
  <div class="field">
    Select city from trip begins:<br />
    <%= collection_select :ticket, :cityFrom, Ticket.find(:all, :select => "DISTINCT cityFrom", :order => "cityFrom"),:cityFrom,:cityFrom %>
  </div>
  <div class="field">
    Select city in which trip ends:<br />
    <%= collection_select :ticket, :cityTo, Ticket.find(:all, :select => "DISTINCT cityTo", :order => "cityTo"),:cityTo,:cityTo %>
  </div>
  <div class="actions">
    <%= submit_tag "Search", :name => nil %>
  </div>
<% end %>

<!DOCTYPE HTML>
<html>
  <head>
    <title>OpenLayers Simplest Example</title>
  </head>
  <body>
    <div id="Map" style="height:250px"></div>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
        var lat            = 47.35387;
        var lon            = 8.43609;
        var zoom           = 18;

        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

        map = new OpenLayers.Map("Map");
        var mapnik         = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);

        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        map.setCenter(position, zoom);
    </script>
  </body>
</html>

<%= render 'index' %>
<table>
  <th><% if current_user.admin? %>
    <%= link_to 'New Ticket', new_ticket_path %>
  <% end %></th>
  <th><%= link_to 'Back', root_path %></th>
</table>

