<h1>My reserved tickets</h1>

<table>
  <tr>
    <th><%= sortable "city_from" %></th>
    <th><%= sortable "city_to" %></th>
    <th><%= sortable "date_of_trip" %></th>
    <th><%= sortable "end_of_trip" %></th>
    <th><%= sortable "bus_id" %></th>
    <th>Seat number</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% prevTicket = Ticket.new %> <!-- previous ticket to be able to show all free seats in index -->
<% tripTickets = Array.new %> <!-- array of free seats -->
<% if @tickets.length > 1 %>
  <% @tickets.each_cons(2) do |ticket,ticket2| %>
    <% if ticket == @tickets[0] %>
      <% tripTickets.push(ticket.name_of_seat.to_i) %>
    <% end %>
    <% if ticket.trip != ticket2.trip || ticket2.nil? %>
      <tr>
        <td><%= ticket.city_from %></td>
        <td><%= ticket.city_to %></td>
        <td><%= ticket.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
        <td><%= ticket.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
        <% if ticket.bus_id != nil %>
        <td><%= link_to Bus.find(ticket.bus_id).name_of_bus, bus_path(Bus.find(ticket.bus_id))  %></td>
          <td><%= form_tag url_for(:controller => 'tickets', :action => 'unreserve'), :method => 'get' do %>
            <%= select_tag("SeatNumber", options_for_select(tripTickets.collect{ |u| [u] })) %>
            <%= hidden_field_tag "TripID", ticket.trip %></td>
            <% if ticket.date_of_trip > Time.now %>
              <td><%= submit_tag "Unreserve", :action => 'unreserve', :controller => 'tickets'%></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <% tripTickets.clear %> <!-- When all tickets from same trip have been found we clear array of seats -->
    <% elsif (ticket.trip != ticket2.trip || ticket2 == @tickets[@tickets.count-1])%>
    <% tripTickets.push(ticket2.name_of_seat.to_i) %>
      <tr>
        <td><%= ticket2.city_from %></td>
        <td><%= ticket2.city_to %></td>
        <td><%= ticket2.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
        <td><%= ticket2.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
        <% if ticket2.bus_id != nil %>
        <td><%= link_to Bus.find(ticket2.bus_id).name_of_bus, bus_path(Bus.find(ticket2.bus_id))  %></td>
        <td><%= form_tag url_for(:controller => 'tickets', :action => 'unreserve'), :method => 'get' do %>
          <%= select_tag("SeatNumber", options_for_select(tripTickets.collect{ |u| [u] })) %>
          <%= hidden_field_tag "TripID", ticket2.trip %></td>
          <% if ticket2.date_of_trip > Time.now %>
          <td><%= submit_tag "Unreserve", :action => 'unreserve', :controller => 'tickets'%></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <% tripTickets.push(ticket2.name_of_seat.to_i) %>
    <% trip = ticket2.trip %>
  <% end %>
<% else %>
  <% @tickets.each do |ticket| %>
  <% tripTickets.push(ticket.name_of_seat.to_i) %>
    <tr>
      <td><%= ticket.city_from %></td>
      <td><%= ticket.city_to %></td>
      <td><%= ticket.date_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <td><%= ticket.end_of_trip.strftime("%A %d-%m-%Y %H:%M") %></td>
      <% if ticket.bus_id != nil %>
      <td><%= link_to Bus.find(ticket.bus_id).name_of_bus, bus_path(Bus.find(ticket.bus_id))  %></td>
      <td><%= form_tag url_for(:controller => 'tickets', :action => 'unreserve'), :method => 'get' do %>
        <%= select_tag("SeatNumber", options_for_select(tripTickets.collect{ |u| [u] })) %>
        <%= hidden_field_tag "TripID", ticket.trip %></td>
        <% if ticket.date_of_trip > Time.now %>
          <td><%= submit_tag "Unreserve", :action => 'unreserve', :controller => 'tickets'%></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>
<br />
<%= link_to 'Back', root_path %>

