<!DOCTYPE html>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "OpenLayers.js" %>
  <%= javascript_include_tag "IndexMap.js" %>
<% end %>


<div>
    <h1>Listing all available tickets</h1>
    <%= form_tag(search_ticket_path, :method => 'get') do %>
    <div class="field">
      Select city from trip begins:<br />
      <%= collection_select :ticket, :city_from, Ticket.find(:all, :select => "DISTINCT city_from", :order => "city_from"),:city_from,:city_from,{:prompt => true},{:onchange=>"mapMarkers();"} %>
    </div>
    <div class="field">
    Select city in which trip ends:<br />
    <%= collection_select :ticket, :city_to, Ticket.find(:all, :select => "DISTINCT city_to", :order => "city_to"),:city_to,:city_to,{:prompt => true},{:onchange=>"mapMarkers();"} %>
    </div>
    <div class="actions">
      <%= submit_tag "Search", :name => nil %>
    </div>
    <% end %>
    <br />
    <div id="map"></div>
    <br />
</div>

