<p id="notice"><%= notice %></p>

<p>
  <b> nameoftrip:</b>
  <%= @ticket. nameOfTrip %>
</p>

<p>
  <b>Dateoftrip:</b>
  <%= @ticket.dateOfTrip %>
</p>

<p>
  <b>Timeoftrip:</b>
  <%= @ticket.timeOfTrip %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
