<p id="notice"><%= notice %></p>

<p>
  <b>Date of trip:</b>
  <%= @ticket.date_of_trip %>
</p>

<p>
  <b>End of trip:</b>
  <%= @ticket.end_of_trip %>
</p>

<p>
  <b>Reserved to:</b>
  <%if @ticket.user_reserved_id != 0%>
  <%= link_to User.find(@ticket.user_reserved_id).name + " " + User.find(@ticket.user_reserved_id).surname, user_path(User.find(@ticket.user_reserved_id)) %>
  <%else%>
  Ticket is not reserved
  <%end%>
</p>

<p>
  <b>Bus:</b>
  <%= link_to Bus.find(@ticket.bus_id).name_of_bus, bus_path(Bus.find(@ticket.bus_id)) %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

