<%= form_for(@bus) do |f| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% @bus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nameOfBus %><br />
    <%= f.text_field :nameOfBus %>

   <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

