<%= form_for(@bus) do |f| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% @bus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_of_bus %><br />
    <%= f.text_field :name_of_bus %>
  </div>
   <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    Select driver:<br />
    <%= f.label :driver_id %><br />
    <%= collection_select :user, :driver_id, @drivers,:id,:name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

