<h1>Listing buses</h1>

<table>
  <tr>
    <th>Name of bus</th>
    <th>Capacity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buses.each do |bus| %>
  <tr>
    <td><%= bus.nameOfBus %></td>
    <td><%= bus.capacity %></td>
    <td><%= link_to 'Show', bus %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_bus_path(bus) %></td>
      <td><%= link_to 'Destroy', bus, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<table>
  <th><% if current_user.admin? %>
    <%= link_to 'New Bus', new_bus_path %>
  <% end %></th>
  <th><%= link_to 'Back', root_path %></th>
</table>

