<p id="notice"><%= notice %></p>

<p>
  <b>Name of bus:</b>
  <%= @bus.nameOfBus %>
</p>

<p>
  <b>Capacity of the bus:</b>
  <%= @bus.capacity %>
</p>

<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>

